table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.icon-preview-thumb {
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    margin: 10px 0;
    background-color: #e7e7e7;
}
